<style>
    * {
        margin: 0;
        padding: 0
    }

    #permission {
        background: #fff;
        padding: 0 0.8rem;
        font-family: 'ColorFont-Normal';
        color: #404040;
        font-size: 15px;
    }

    #permission strong {
        width: 100%
    }

    #permission table tr td:nth-child(1) {
        text-align: center
    }

    #permission ul {
        padding: 0;
        width: 100%
    }

    #permission ul li {
        list-style: none;
        padding-left: 1.12rem;
        box-sizing: border-box;
        color: #737373;
        border-bottom: 1px solid rgba(234, 234, 234, 1);
    }

    #permission ul li span {
        color: #737373;
    }
</style>

<!-- app端 -->
<div id="permission">
    <div
        style="width: 100%;height: 30px;line-height: 30px;text-indent: 0.1rem;border: 1px solid #eee;border-top: none;border-left: none;border-right: none;">
        <strong>权限申请</strong>
    </div>

    <div style="width: 100%;height: 185px;">
        <ul>
            <li
                style="line-height: 45px;width: 100%;float: left;list-style-type:none;font-size: 14px; padding-left:0.8rem;">
                申请人：
                <span class="appname">{{ user.last_name }}{{ user.first_name }}</span>
            </li>

            <li style="line-height: 45px;width: 100%;float: left;list-style-type:none; font-size: 14px">
                工号：
                <span class="appgh">{{ user.username }}</span>
            </li>

            <li style="line-height: 45px;width: 100%;float: left; list-style-type:none; font-size: 14px;">
                部门：
                <span class="appbm">{{ user.employee.department.name }}</span>
            </li>

            <li style="line-height: 45px;width: 100%;float: left;list-style-type:none; font-size: 14px;">
                邮箱：
                <span class="appemail">{{ user.email }}</span>
            </li>
        </ul>
    </div>


    <div
        style="width: 100%;height: 30px;line-height: 30px;border: 1px solid #eee;text-indent: 0.1rem;border-top: none;border-left: none;border-right: none;">
        <strong>产品申请</strong>
    </div>

    <div style="width: 100%;">
        <ul>
            <li
                style="line-height: 45px;width: 100%;float: left;list-style-type:none;font-size: 14px;padding-left:0.8rem;">
                产品名称：
                <span class="appname">临时需求</span>
            </li>

            <li style="line-height: 45px;width: 100%;float: left;list-style-type:none; font-size: 14px;">
                需求目的:
                <span class="appgh"> {{ info.title }}</span>
            </li>

            <li style="line-height: 45px;width: 100%;float: left;list-style-type:none; font-size: 14px;">
                所需数据密级:
                <span class="appbm">{ security_level }}</span>
            </li>

            <li style="line-height: 45px;width: 100%;float: left;list-style-type:none; font-size: 14px;">
                用途（对内，对外）:
                <span class="appemail">{% if info.is_inner %} 对内 {% else %} 对外 {% endif %}</span>
            </li>

            <li style="line-height: 45px;width: 100%;float: left;list-style-type:none; font-size: 14px;">
                数据源是否为本部门数据:
                <span class="appemail"> {% if info.is_self_datasource %} 是 {% else %} 否 {% endif %}</span>
            </li>
            <li style="line-height: 45px;width: 100%;float: left;list-style-type:none; font-size: 14px;">
                是否需要脱敏:
                <span class="appemail"> {% if info.is_data_mask %} 是 {% else %} 否 {% endif %}</span>
            </li>
        </ul>
    </div>

</div>

<!-- pC端 -->
<div id="permissions" style="background: #F6F9F8;">
    <div
        style="width: 100%;height: 30px;line-height: 30px;text-indent: 10px;border: 1px solid #eee;border-top: none;border-left: none;border-right: none;">
        <strong>权限申请</strong>
    </div>

    <div style="width: 100%;height: 100px;">
        <ul>
            <li
                style="line-height: 45px;width: 20%;float: left;margin-left: 14px; list-style-type:none;font-size: 14px;  color: #9c9999;">
                申请人：
                <span class="appname" style="color: #484343;">{{ user.last_name }}{{ user.first_name }}</span>
            </li>

            <li
                style="line-height: 45px;width: 20%;float: left;margin-left: 14px; list-style-type:none; font-size: 14px; color: #9c9999;">
                工号：
                <span class="appgh" style="color: #484343;">{{ user.username }}</span>
            </li>

            <li
                style="line-height: 45px;width: 20%;float: left;margin-left: 14px; list-style-type:none; font-size: 14px; color: #9c9999;">
                部门：
                <span class="appbm" style="color: #484343;">{{ user.employee.department.name }}</span>
            </li>

            <li
                style="line-height: 45px;width: 20%;float: left;margin-left: 14px; list-style-type:none; font-size: 14px; color: #9c9999;">
                邮箱：
                <span class="appemail" style="color: #484343;">{{ user.email }}</span>
            </li>
        </ul>
    </div>

    <div
        style="width: 100%;height: 30px;line-height: 30px;text-indent: 10px;border: 1px solid #eee;border-top: none;border-left: none;border-right: none;margin-bottom: 15px;">
        <strong>产品申请</strong>
    </div>

    <div style="max-height:600px;overflow-y: scroll;">
        <table border="1" cellspacing="0" bordercolor="#eee" width="100%">
            <thead>
                <th style="width: 10%;text-align: center;">产品名称</th>
                <th style="width: 30%;text-align: center;">需求目的</th>
                <th style="width: 15%;text-align: center;">所需数据密级</th>
                <th style="width: 15%;text-align: center;">用途（对内，对外）</th>
                <th style="width: 15%;text-align: center;">数据源是否为本部门数据</th>
                <th style="width: 15%;text-align: center;">是否需要脱敏</th>
            </thead>
            <tr>
                <td style="text-align: center;">临时需求</td>
                <td style="text-align: left;">{{ info.title }}</td>
                <td style="text-align: center;">{{ security_level }}</td>
                <td style="text-align: center;">
                    {% if info.is_inner %}
                    对内
                    {% else %}
                    对外
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if info.is_self_datasource %}
                    是
                    {% else %}
                    否
                    {% endif %}
                </td>
                <td style="text-align: center;">
                    {% if info.is_data_mask %}
                    是
                    {% else %}
                    否
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 1080 * 1 % + 'px';
    if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
        document.getElementById("permission").style.display = 'block'
        document.getElementById("permissions").style.display = 'none'
    } else {
        document.getElementById("permission").style.display = 'none'
        document.getElementById("permissions").style.display = 'block'
    }
</script>